six
tqdm
torch==1.2.0
git+https://github.com/pytorch/text
future
configargparse
tensorboard
tensorboardX
nltk~=3.5
iranlowo~=0.0.8.3
OpenNMT-py
numpy~=1.18.4
boto3~=1.13.6
click~=7.0
botocore~=1.16.13
sagemaker~=1.58.0
yaml~=0.1.7
pyyaml~=5.3.1